<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Social Network</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
  This is the About page for the Social Network application developped by <a href="www.jaafar-el-alamy.com">Jaafar EL ALAMY.</a>
</p>

  </body>
</html>