<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Social Network</title>
  </head>
  <body>
 <% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
  <h1>Social Network</h1>

  <h2>
    This is the home page for the Social Network Web Application
  </h2>

  <%= link_to "Sign Up ", signup_path, class: "btn btn-lg btn-primary" %><br> <br>
  <%= link_to "Sign In", login_path, class: "btn btn-lg btn-primary" %>

</div>

<center><%= link_to image_tag("social.png", alt: "Rails logo"),
            'http://www.jaafar-el-alamy.com/' %></center>
<% end %>
</body>
</html>

