<h1>Social Network App</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to the Social network App! Please click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,email: @user.email) %>