<footer class="footer">
  <small>
    Social Network by <a href="http://www.jaafar-el-alamy.com/">Jaafar EL ALAMY</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.jaafar-el-alamy.com/">News</a></li>
    </ul>
  </nav>
</footer>